body {
    height: 100vh;
    font-family: 'Bebas Neue';
    background-color: #7BE295;
}

* {
    box-sizing: border-box;
}

section {
    height: 100vh;
    padding: 3em;
}

section h1 {
    font-size: 5rem;
    font-family: Inter;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;

}

.hidden-content-h2 {
    color: white;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.overlay {
    background: white;
    color: #7BE295;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    clip-path: circle(100px at var(--x, 50%) var(--y, 50%));
    transition: clip-path 100ms;
}

.behind-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #7BE295;
}

.hover-btn,
.hover-btn2 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: white;
    display: flex;
    cursor: pointer;
    border: 1px solid black
}

.hover-btn2 {
    border: 2px solid black;
    background-color: #c4f1d0;
}

.hover-btn svg,
.hover-btn2 svg {
    margin: 1em;
    fill: black;
}

.is-open {
    clip-path: circle(150% at 50% 50%);
    transition: clip-path 1.3s;
    transition-timing-function: cubic-bezier(1,-0.01,.01,.99);
}


.main-copy-text {
    min-height: 10%;
    color: black;
    font-family: "Inter";
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    letter-spacing: 0.2rem;
    width: max(80%, 300px);
}

.animate {
    /* Add your animation styles here */
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out;
}

.thank-you-title {
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 62px;
    /* identical to box height */
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    /* Text Outline */
    text-shadow: none;
}

.thank-you-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    gap: 10px;
}

.thank-you-body {
    width: min(400px, 80%);
    margin: 10px;
    font-family: "Lexend", serif;
    color: black;
    text-align: center;
}